<div class="ci-status">
    <div class="">GitLab CI Status</div>
    <ul>
        <div class="status-circle" ng-class="vm.status"></div>
        <a href="http://gitlab.com/ngaxavi/work-society">GitLab CI</a>
    </ul>
</div>
